.capa-livros {
    margin: 0 auto; /* centraliza horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    border: 2px solid black;
    border-radius: 2%;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.capa-livros img{
    padding: 1rem; 
    width: 10vw;
}

.sinopse{
    margin: 0 auto; /* centraliza horizontalmente */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60vw;
    border: 2px solid black;
    border-radius: 2%;
    flex-wrap: wrap;
    justify-content: left;
}

.sinopse div {
    margin-left: 2vw;
}

.capa-livros div p{
    font-family: "Arimo", sans-serif;
}
